@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    background-color: #f6cf50;
}
section {
    width: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 15px 17px 15px;
    border: 1px solid black;
    box-shadow: 8px 8px black;
}

.image img {
    border-radius: 15px;
}

section .texte p:nth-child(1) {
    background-color: #f6cf50;
    display: inline-block;
    padding: 6px 14px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 17px;
}

section .texte p:nth-child(2) {
    font-weight: 500;
    margin-top: 15px;
}

section .texte h1 {
    font-weight: 700;
    margin-top: 17px;
    color: hsl(0, 0%, 7%);
}

section .texte p:last-of-type {
    color: hsl(0, 0%, 42%);
    margin-top: 17px;
    line-height: 22px;
    font-weight: 500;
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 17px;
}

.profile img{
    width: 35px;
}

.profile p {
    font-size: 15px;
    font-weight: 800;
    margin-left: 12px;
}

.content {
    margin-left: 7px;
}